name: Android Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            libffi-dev \
            libssl-dev \
            libsqlite3-dev \
            zlib1g-dev \
            libasound2-dev \
            libpulse-dev \
            python3-pip \
            autoconf \
            libtool \
            pkg-config \
            libncurses5 \
            libncursesw5 \
            cmake \
            zip \
            unzip
          pip install --upgrade pip
          pip install buildozer cython gitpython pexpect sh

      - name: Docker Clean Up
        run: sudo docker image prune --all --force

      - name: Build with Buildozer
        run: |
          # Loglardaki terminal (ioctl) hatasını önlemek için etkileşimi simüle ediyoruz
          yes | buildozer android debug
        env:
          TERM: xterm
          # Buildozer'ın hata vermesini önlemek için bazı çevresel değişkenler
          BUILD_NONINTERACTIVE: "1"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
