name: Android APK Build
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install System Dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential ccache git libncurses5 libstdc++6 zlib1g-dev libffi-dev libssl-dev python3-dev python3-pip libgdm-dev libdbus-1-dev
          # Buildozer için gerekli ek paketler
          sudo apt install -y openjdk-17-jdk 
          pip install --upgrade Cython==0.29.33 buildozer

      - name: Build with Buildozer
        run: |
          # Lisansları otomatik onaylar ve derlemeyi başlatır
          yes | buildozer android debug
        
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Kurye-Takip-APK
          path: bin/*.apk
