name: Android APK Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04 # Daha kararlı olan 22.04 sürümüne geçtik

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          build-essential \
          libffi-dev \
          libssl-dev \
          libsqlite3-dev \
          zlib1g-dev \
          python3-pip \
          autoconf \
          automake \
          libtool \
          pkg-config \
          cmake \
          gettext \
          libltdl-dev \
          zip \
          unzip
        pip install --upgrade pip
        # Kivy 2.3.0 için 3.0.x serisi Cython daha iyidir
        pip install buildozer cython==3.0.10 

    - name: Build with Buildozer
      run: |
        yes | buildozer android debug
      env:
        TERM: xterm

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: KuryeTakip-APK
        path: bin/*.apk
